#game-grid {
    display: grid;
    grid-template: 10vh 80vh 10vh / 10vw 80vw 10vw;
}

/* ====================================================== */
/* ======================= Player ======================= */
/* ====================================================== */

#car {
    width: 5vw;
    height: 5vh;
}

/* Set car above level and below edges. */
.edge {
    z-index: 3;
    background: darkcyan;
}
#car {
    z-index: 2;
}
#entities > * > * {
    z-index: 1;
}

/* ====================================================== */
/* ======================= Levels ======================= */
/* ====================================================== */

#shop {
    background: blue;
}

/* Switch levels by hiding and unhiding. */
.off {
    visibility: hidden;
}

/* Stack all levels in middle of screen. */
#levels {
    position: relative;
}
#levels > * {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* ====================================================== */
/* ========================= UI ========================= */
/* ====================================================== */

#gold {
    font-family: "Young Serif", serif;
    font-size: 6vh;
    margin-left: 5vw;
}

#player-hp {
    background-color: firebrick;
    width: 48vw;
    height: 6vh;
    margin-left: 5vw;
}
